@{
    ViewBag.Title = "About the site";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This website was created by me, Casey Child, a UVU student studying Information Systems for a final project in a web application class.
All attempts were made to make this site run well by me.  Some issues with the site may be caused by the current site administrators.
The site's not meant to be perfect nor work for every scenario, but it should get the job done.
At least the standard has been set.
Feel free to set the standard higher to see how much better you can do with the latest technology in such a short amount of time with more people. ;-)</p>
